<form action="/users" method="post" class="user_forms">
  <input type="text" name="user_name" placeholder="User Name">
  <input type="text" name="email" placeholder="Email (you@site.exp)">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Register">
</form>