<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>:D Overflow Clone</title>
</head>
<body>
  <a href="/" class='logo'>Stack Overflow Clone</a>
  <header>
    <nav>
      <a href="/questions/new" class="nav-links">Post a Question</a>
      <% if session[:id] != nil %>
        <form action="/sessions/<%=  current_user.id %>" method="post" class="nav-links">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout" class="nav-links">
        </form>
        <a href="/" class="nav-links"><%= current_user.user_name %></a>
      <% else %>
        <a href="/sessions/new" class="nav-links">Login</a>
        <a href="/users/new" class="nav-links">Sign Up</a>
      <% end %>
    </nav>
  </header>
  <div class="error_list">
    <% if !@errors.nil? %>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= yield %> <!-- Yield block -->
</body>
</html>
